@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto&display=swap');

h1 {
    font-family: Audiowide;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #800080;
    color: #ffffff;
}

#hero-image {
    height: 100%;
    width: 100%;
}

ul {
    font-size:x-large;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    font-family: Audiowide, sans-serif;
  }

  li {
      display: inline-block    
  }

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    color: aqua;
}
