@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto&display=swap');

h1 {
    font-family: Audiowide;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #800080;
    color: #ffffff;
}

#hero-image {
    height: 100%;
    width: 100%;
}

#menu {
    font-size: 110%;
    font-family: Audiowide, sans-serif;
    letter-spacing: 4px;
    color: #ffffff;
}

#menu a {
    text-decoration: none;
    color: inherit #ffffff;
}

#menu a:hover {
    color: aqua;
}
